
				<div class="content-header">
					<h1 title="Longhorns">Temperature Monitor</h1>
					<div class="date"><%= Time.now.strftime("%A, %d %B, %Y,   %H %M %p") %></div>
				</div>
				
				<div class="content-details">
					<div class="time" <% if @temperature.temperature > 60 %> style="color:red;" <% end %>><strong>Current Temperature: </strong><%= @temperature.temperature %> *C</div>
					 <% if @temperature.temperature > 60 %> 
					<div class="location" style="text-decoration: underline;"><strong><%= link_to "Adjust Temperature", edit_temperature_path(@temperature) %></strong>  </div>
					<% end %>
					<div class="time"><strong>Recorded At: </strong><%= @temperature.created_at.strftime("%H:%M:%S - %d/%b/%y") %></div>
          <div class="time"><strong>Highest Temperature: </strong><%= @temperature.highest_temperature %> *C</div>
          <div class="time"><strong>Lowest Temperature: </strong><%= @temperature.lowest_temperature %> *C</div>
          <div class="time"><strong>Average Temperature: </strong><%= @temperature.average_temperature %> *C</div>					

  					<% if @temperature.updated_at > @temperature.created_at %>
    					<div class="time">
                <strong>Updated at</strong>
                <%= @temperature.updated_at.strftime("%H:%M:%S - %d/%b/%y") %>
              </div>
            <% end %>

				</div>

  <%# => = link_to "get new temperature", Temperature.get_live_new_temperature %>