<!DOCTYPE html>
<html>
<head>
  <title>Loughborough</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1>Loughborough Bell foundry</h1>
<h2>Furnace System Main Menu</h2>
  <li><%= link_to "Main Menu", root_path %></li>
<%= yield %>

</body>
</html>
